h1 {
    color: rgb(129, 141, 231);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 11pt;
}

#bg {
    position: absolute;
    inset: 0px;
    background-image: url(https://wallpapers.com/images/hd/cool-nature-03krhvreqy2exn74.jpg);
    z-index: -1000;
    opacity: 0.3;
    filter: blur(8px);
}

.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.left, .right {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgb(179, 205, 212);
    padding: 20px;

}
h1{font-size: 25px;}

